@media only screen and (min-width: 1700px) and (max-device-width: 1924px) {
  /* Desktop big */
    .home{ height: 80px; width: 80px; } .sidemenu{ height:55px; width: 55px; left: calc(100% - 200px);}
.line,.rec{height:400px;} .block{top:10vh;} .button{top:6.5em;} .map{width:1200px; height:705px;} .s1{left:69vw;}
  }

  @media only screen and (min-height: 700px) and (max-height: 950px) and (min-width: 1600px) {
    /* Desktop */

    .home{ height: 58px; width: 58px; }
  }
@media only screen and (min-height: 700px) and (max-height: 850px)  {
  .home{ height: 55px; width: 55px; }   .sidemenu{ height: 35px; width: 35px; left:calc(100% - 125px);}
  .line,.rec{height:270px;} .button{top:60px;} .block{top:4vh;}
  .map{width: 950px; top:-17px;} .screen2{height:85vh;} .s1{bottom:55vh; left:72vw;}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* iPad */
  .text,.normal,.button, .contacts, .cont, .author,.block,.s1{font-size: 18px; line-height: 21px;}  .headline,.head{ font-size: 24px; line-height: 27px;}
  .block{top:9vh;} .button{top:110px;} .map{width:700px; height:490px; top:0; background-size: cover; background-position: right;} .s1{bottom:42vh;}
  .rec{width:24px; margin-left:28px;} .line{animation-duration: 20s;}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* iPad Portrait */
  .home{left:4.5vw;}
  .line,.rec{height:260px;} .button{display: none;} .screen2{display: block;} .block{top:5vh;} .screen{height: 55vh;} .screen2{top:65vh; height:52.5vh;} .rect{height:24px;}
 .n2{display: block; position: absolute; top:48vh;} .map{width:100vw;} .screen3{display: block; height:33vh; position: absolute; top:115vh; width: 100vw; background-color: #5EB6CA;}
.s1{display: none;} .v2{display: block; left:4.5vw; top:9vh;}

.footer{top:148vh; display: flex; justify-content: space-evenly; flex-wrap: nowrap; align-items: center;} .contacts,.hse,.author{position: static;}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* iPad Landscape */
}


@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
  /* iPhone Portrait */

  .home{ height: 60px; width: 60px; left:8vw; } .sidemenu{ height:40px; width: 40px; left: calc(100% - 125px);}
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
  /* iPhone Landscape */
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
  /* iPhone Portrait */

}
