body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'IBM Plex Sans', sans-serif;
  background: white;
}
a {
  text-decoration:none;
}
.topmenu{
  width: 100%;
  height: 10vh;
  background: black;
  position: fixed;
  overflow: hidden;
  z-index: 15;
}
 .home{
   width: 7vh;
   height: 7vh;
   position: relative;
   left: 3.5vw;
   top: 1.5vh;
 }
.sidemenu{
  width: 5vh;
  height: 5vh;
  position: relative;
  left: calc(100% - 166px);
  top: -0.5vh;
}

.screen{
  width: 100%;
  height:90vh;
  position: absolute;
  top: 10vh;
  overflow: hidden;
}
.line{
  height: 350px;
  width: 230%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  animation: go 15s linear infinite;
}
@keyframes go {
  0%{ left: 0px;}
  100%{left: -1500px; transition: all  ease 0s;}
}
.rec{
  height: 350px;
  width: 28px;
  display: inline-block;
  background-color: black;
  position: relative;
  margin-left: 46px;
}
.none{
  margin-left: 0;
}
.block{
  font-size: 24px;
  position: relative;
  top: 7vh;
  left: 3.5vw;
  color: black;
  width: 20em;
}
.text{
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;

}
.button{
  font-size: 24px;
  width: 9em;
  height: 3em;
  color: white;
  background-color: black;
  position: relative;
  left: 3.5vw;
  top: 4em;
  z-index: 10;
  text-align: center;
  vertical-align:middle;
  display:table-cell;
}
.button:hover{
  color: black;
  background-color: white;
  border: 2px solid rgba(0, 0, 0, 1);
  transition: .5s;
}

.p1{
  width:443px;
  height: 294px;
}
.p2{
  width:302px;
  height: 350px;
}
.p3{
  width:453px;
  height: 302px;
}
.p4{
  width:281px;
  height: 351px;
}
.p5{
  width:453px;
  height: 302px;
}

.screen2{
  height: 70vh;
  width: 100%;
  position: absolute;
  top: 100vh;
  overflow: hidden;
  background-color: #5EB6CA;
  display: none;
}
.rect{
  width: 100%;
  height: 50px;
  background-color: black;
}
.s1{
  position: relative;
  bottom: 43vh;
  left: 73vw;
  color: black;
  font-size: 24px;
  width: 15em;
  position: relative;
}
.map{
  width: 1004px;
  height: 591px;
  position: relative;
}
.head{
  font-size: 32px;
  margin-bottom: 24px;
}


.footer{
  height: 30vh;
  width: 100%;
  background-color: black;
  position: absolute;
  top:100vh;
}
.hse{
  width:237px;
  height: 95px;
  position: relative;
  left: 3.5vw;
  top: 7.5vh;
}
.cont{
font-size: 24px;
line-height: 33px;
color: #FF6100;
}
.contacts{
position: absolute;
font-size: 24px;
width:12em;
left: 38vw;
top: 6.5vh;
display: inline-block;
}
.author{
position: absolute;
font-size: 24px;
width:12em;
left: 74.5vw;
top: 6.5vh;
display: inline-block;
}
