body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'IBM Plex Sans', sans-serif;
  background: white;
}
a {
  text-decoration:none;
}
.topmenu{
  width: 100%;
  height: 10vh;
  background: black;
  position: fixed;
  overflow: hidden;
  z-index: 10;
}
 .home{
   width: 7vh;
   height: 7vh;
   position: relative;
   left: 3.5vw;
   top: 1.5vh;
 }
.sidemenu{
  width: 5vh;
  height: 5vh;
  position: relative;
  left: calc(100% - 166px);
  top: -0.5vh;
}

.screen{
  width: 90vw;
  height:90vh;
  position: absolute;
  top: 10vh;
}
.ticket{
  width: 90vw;
  height:90vh;
}
.image{
  width: 894px;
  height: 842px;
  position: relative;
  left: 0;
  top:0;
}
.block{
  position: absolute;
  top: 20vh;
  left:108vh ;
}
.text{
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
}
.head{
  font-size: 32px;
  line-height: 34px;
}
.headline{
  font-size: 32px;
  width: 7.25em;
  height:2.5em;
  position:relative;
}
.description{
  font-size: 24px;
  width: 14em;
  height:5.9em;
  position:relative;
  top: 1em;
}
.price{
  font-size: 32px;
  position: relative;
  top:2em;
}

.button{
  font-size: 24px;
  width: 9em;
  height: 3em;
  color: white;
  background-color: black;
  position: relative;
  top: 5em;
  z-index: 10;
  text-align: center;
  vertical-align:middle;
  display:table-cell;
}
.button:hover{
  color: black;
  background-color: white;
  border: 2px solid rgba(0, 0, 0, 1);
  transition: .5s;
}

.footer{
  height: 20vh;
  width: 100%;
  background-color: black;
  position: absolute;
  top:100vh;
}
.hse{
  width:237px;
  height: 95px;
  position: relative;
  left: 3.5vw;
  top: 5.5vh;
}
.cont{
font-size: 24px;
line-height: 33px;
color: #FF6100;
}
.contacts{
position: absolute;
font-size: 24px;
width:12em;
left: 38vw;
top: 4.5vh;
display: inline-block;
}
.author{
position: absolute;
font-size: 24px;
width:12em;
left: 74.5vw;
top: 4.5vh;
display: inline-block;
}
.knopka{
  position: absolute;
  top: 45vh;
  left: 93vw;
  width:37px;
  height: 63px;
  background-image: url('./img/arrow.svg');
}
