
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'IBM Plex Sans', sans-serif;
  background: white;
  display: inline-block;
}
a {
  text-decoration:none;
}
.topmenu{
  width: 100%;
  height: 10vh;
  background: black;
  position: fixed;
  overflow: hidden;
  z-index: 15;
  top:0;
  display: flex;
  align-items: center;
}
 .home{
   width: 65px;
   height: 65px;
   position: relative;
   background-image: url('./img/home.svg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
   left: 3.5vw;
   /* top: 1.5vh; */
 }
.sidemenu{
  width: 45px;
  height: 45px;
  position: relative;
  left: calc(100% - 160px);
  /* top: -0.5vh; */
  background-image: url('./img/sidemenu.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.screen1{
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0px;
  overflow: hidden;
    background-color: #FF6100;
  z-index: 2;
  display: flex;
align-items: flex-end;
}

.star1{
  width: 100%;
  height: 43.2vw;
  background-image: url('./img/staryellow.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  /* top: 31%; */
}
/* .line {
  width: 100%;
  height: 17vh;
  position: absolute;
} */
/* .iskra{
  background-image: url('./img/iskraline.svg');
  background-clip: border-box;
  background-repeat: repeat-x;
  top: 10vh;
  animation: go 10s linear infinite;
} */
.line{
  width:100vw;
  position: absolute;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  z-index: 5;
}
.top{
    top: 10vh;
}
.iskraline, .infoline, .afishaline{
  display: inline-block;
  vertical-align: top;
  margin-left: 0;
  animation: go 10s linear infinite;
  animation-play-state: running;
}

/* .line1container, .line2container{
  font-size: 24px;
  height: 6.25em;
  overflow: hidden;
  margin-left: 0;
} */
.line1, .line2{
  font-size: 24px;
  height: 6.25em;
  position: absolute;
  overflow: hidden;
  display: flex;

  animation: linemove1 18s infinite 0s linear;
}
.line2{
  top:6.25em;
  animation: linemove2 24s infinite -.5s linear;
}
@keyframes linemove1 {
  0%{ left: 0px;}
  100%{left: -2734px;}
}
@keyframes linemove2 {
  0%{ left: 0px;}
  100%{left: -2782px;}
}

@keyframes go {
0% {transform: translateX(0);}
100% {transform: translateX(-50%); }
}
/* .line1, .line2{
  font-size: 24px;
  height: 6.25em;
  position: relative;
  overflow: hidden;
  display: flex;
  white-space: normal;
  animation: go 15s infinite 0s linear;
  animation-play-state: running;
}
.line2{
  animation: go 18s infinite 0s linear;
  animation-play-state: running;
}
.subcontainer1, .subcontainer2{
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  width:100%;
} */
.size1{
  /* width: 9vw; */
}
.size{
  /* .background-size: 90%; */
}
.skobki1 {
  display: grid;
  height: 85vh;
  width: 92vw;
  position: absolute;
  left: 3.5vw;
  top: 20vh;
  z-index: 5;
  grid-template-columns: 1fr 1fr 0.8fr 1fr 1.2fr 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 35px;
  grid-auto-flow: row;
  grid-template-areas:
  ". . . re2 . . re5 ."
     "re1 . . re2 . re3 . ."
     "re1 . . re2 . re3 . re4"
     "re1 . . . . re3 . re4"
     "re1 . . . . . . re4";
}

.re1 { grid-area: re1;
  background: url('./img/g1.svg');
  background-repeat: no-repeat;
  /* background-size: contain; */
  background-position: left;
}
.op1{
    justify-content: center;
  grid-area: re1;
  animation: miganie 3s linear infinite;

}
.op12{
  grid-area: re1;
  position: relative;
  top:20px;
  animation: miganie 3s linear .2s infinite;
}
@keyframes miganie {
0%{ opacity: 0;}
40%{opacity: 0;}
60%{ opacity: 1;}
90%{opacity: 0;}
100%{opacity: 0;}
}
.re2 { grid-area: re2;
  background: url('./img/g2.svg');
  background-repeat: no-repeat;
  /* background-size: contain; */
  background-position: 0 85px;
  align-content: center;}
.op2{
  justify-content: center;
  grid-area: re2;
  position: relative;
  top: 220px;
  align-content: center;
  animation: miganie 3s linear .5s infinite;
}
.op3{
  grid-area: re2;
  position: relative;
  top: 220px;
  animation: miganie 3s linear .7s infinite;
}
.re3 { grid-area: re3;
  background: url('./img/g3.svg');
  background-repeat: no-repeat;
  /* background-size: contain; */
  background-position: left;
}
.op4{
  grid-area: re3;
  position: relative;
  top:70px;
  animation: miganie 3s linear .2s infinite;
}
.op5{
  grid-area: re3;
  position: relative;
  top:-75px;
  animation: miganie 3s linear .5s infinite;
}

.re4 { grid-area: re4;
  background: url('./img/g4.svg');
  background-repeat: no-repeat;
  /* background-size: contain; */
  background-position: left;}

.op6{
   grid-area: re4;
  animation: miganie 3s linear .5s infinite;
}
.op7{
   grid-area: re4;
  position: relative;
  top: 0px;
  animation: miganie 3s linear .7s infinite;
}
.op8{
   grid-area: re4;
   position: relative;
   top: 205px;
   animation: miganie 3s linear 1s infinite;
}
.op9{
  grid-area: re4;
  position: relative;
  top: 210px;
  animation: miganie 3s linear 1.2s infinite;
}
.re5 { grid-area: re5;
  background: url('./img/g5.svg');
  background-repeat: no-repeat;
  /* background-size: contain; */
  background-position: left bottom;}

  .screen2{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 100vh;
    overflow: hidden;
    z-index: 2;
  }
  .star2{
    width: 100%;
    height: 43.2vw;
    background-image: url('./img/starorange.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
  }
  /* .info{
    background-image: url('./img/infoline.svg');
    background-clip: border-box;
    background-repeat: repeat-x;
    animation: go 10s linear infinite;
    z-index: 3;
  } */

  .skobki2 {  display: grid;
    height: 99vh;
    width: 92vw;
    position: absolute;
    left: 3.5vw;
    top: 0vh;
    z-index: 5;
    grid-template-columns: 1fr 1fr 0.8fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 35px;
    grid-auto-flow: row;
    grid-template-areas:
    ". . . . . . ra4 ."
    "ra1 . . . . . ra4 ra5"
    "ra1 . . . . ra3 . ra5"
    ". . . . ra2 ra3 . ra5"
    ". . . . ra2 . . .";
  }

  .ra1 { grid-area: ra1;
    background: url('./img/g5.svg');
    background-repeat: no-repeat;
    background-position: left 0%;
   }

  .ra2 { grid-area: ra2;
    background: url('./img/gr1.svg');
    background-repeat: no-repeat;
    background-position: left 30%;}

  .ap1{
     grid-area: ra2;
     position: relative;
     top: 205px;
     animation: miganie 3s linear .7s infinite;
  }

  .ra3 { grid-area: ra3;
    background: url('./img/g4.svg');
    background-repeat: no-repeat;
    background-position: left top;}

  .ap2{
     grid-area: ra3;
     position: relative;
     top: 115px;
     animation: miganie 3s linear 1s infinite;
  }
  .ap3{
    grid-area: ra3;
    position: relative;
    top: 120px;
    animation: miganie 3s linear 1.2s infinite;
  }
  .ra5 { grid-area: ra5;
    background: url('./img/g3.svg');
    background-repeat: no-repeat;
    background-position: left 26%;
  }
  .ap4{
     grid-area: ra5;
     position: relative;
     top: 270px;
     animation: miganie 3s linear .3s infinite;
  }
  .ap5{
    grid-area: ra5;
    position: relative;
    top: 270px;
    animation: miganie 3s linear .5s infinite;
  }


  .ra4 { grid-area: ra4;
    background: url('./img/gr2.svg');
    background-repeat: no-repeat;
    background-position: left 65%;
    top: 10vh;
  }

  .text{
    font-size: 24px;
    line-height: 26px;
    position: relative;
    left: 3.5vw;
    color: black;
  }
  .s1{
    width: 22em;
    height: 6.3em;
  }
.normal{
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
}

.button{
  font-size: 24px;
  width: 9em;
  height: 3em;
  color: white;
  background-color: black;
    border: 2px solid rgba(0, 0, 0, 1);
  position: relative;
  left: 3.5vw;
  top: 1.65em;
  z-index: 10;
  text-align: center;
  vertical-align:middle;
  display:table-cell;
}
.button:hover{
  color: black;
  background-color: white;
  border: 2px solid rgba(0, 0, 0, 1);
  transition: .5s;
  cursor: pointer;
}
.none{
  left: 0;
}
.screen3{
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 214vh;
  overflow: hidden;
  z-index: 2;
}
.star3{
  width: 100%;
  height: 43.2vw;
  background-image: url('./img/starblue.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}
/* .afisha{
  background-image: url('./img/afishaline.svg');
  background-clip: border-box;
  background-repeat: repeat-x;
  animation: go 10s linear infinite;
  z-index: 3;
} */
.block{
  position: relative;
  top: -13vh;
}

.s2{
  width: 22em;
  height: 6.3em;
}
.screen4{
  position: absolute;
  width: 100%;
  height: 50vh;
  top: 314vh;
  overflow: hidden;
  z-index: 2;
}

.gr{
  color: #C4C4C4;
  left: 0;
  margin-left: 20px;
}

.head{
  font-size: 32px;
  position: relative;
  margin-left: 20px;

}
.sliders{
  position: absolute;
  top: 5vh;
  text-decoration: none;
}

.rectengles{
  width:138px;
  height: 150px;
}
.rec{
  display: inline-block;
  height: 150px;
  width: 21px;
  background-color: black;
  position: relative;
  margin-left: 20px;
}


.card{
  font-size: 24px;
  width: 16em;
  height: 6.25em;
  background-color: white;
  margin-left: 20px;
  color: black;
}
.card:hover{
  background-color: black;
  color: white;
  cursor: pointer;
}
.line1:hover{
    animation-play-state: paused;
}
.line2:hover{
    animation-play-state: paused;
}
.big{
width: 17em;
}
.image{
  width: 127px;
  height: 150px;
  display: inline-block;
}
.origami{
  background-image: url('./img/origami.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.shityo{
  background-image: url('./img/shityo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.biser{
  background-image: url('./img/biser.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.vyshv{
  background-image: url('./img/vyshv.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.makrame{
  background-image: url('./img/makrame.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.vuaz{
  background-image: url('./img/vuaz.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.milo{
  background-image: url('./img/milo.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.ris{
  background-image: url('./img/ris.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.svechi{
  background-image: url('./img/svechi.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.gon{
  background-image: url('./img/gon.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.headline{
  position: absolute;
  top:20px;
display: inline-block;
}
.description{
  position: absolute;
  top:2.7em;
  width: 10.5em;
  height: 3.5em;
  display: inline-block;
}

.screen5{
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 370vh;
  overflow: hidden;
  z-index: 2;
}
.ticketgallery{
  width: 100%;

  z-index:10;
}
.tickets{
/* height: 80.6vh;
width: 64vw; */
display: block;

  /* overflow: hidden; */
/* position: relative;
top: 5vh; */
}
.slick-track{
  height: 80.6vh;
  width: 64vw;

}
.bilet{
  height: 80.6vh;
  width: 64vw;
  left: 3.5vw;
  /* position: absolute;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
flex-direction: column; */
}
.slider_wrap * {

box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
}
.slick-slide {
  margin: 0 28px;
  padding-left: 70px;

}

 .slider-item img { max-width: 100%;}

.n2{
  transform: translate(70vw, 0vw);
}
 .n3{
    transform: translate(140vw, 0vw);
}
.n4{
  transform: translate(210vw, 0vw);
}
.banner{
  height: 458px;
  width:820px;
  margin-left: 100px;
  margin-top: 100px;
}
.k1{
  background-image: url('./img/bilett.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.k2{
  background-image: url('./img/exhibition.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.k3{
  background-image: url('./img/artclass.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.k4{
  background-image: url('./img/masterclass.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.starblack{
  width: 195px;
  height: 195px;
  position: absolute;
  background-image: url('./img/blackstar.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.yel{
  background-image: url('./img/yellowstar.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.orange{
  background-image: url('./img/orangestar.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.caption{
  position: relative;
  width:580px;
  top:10px;
  left: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.cap{
  font-weight: 500;
  font-size: 50px;
  line-height: 93.5%;
  color: black;
}

.desc{
  position: relative;
  top: 20px;
  width: 312px;
  left: 100px;

}
.des{
    font-size: 24px;
    color: #C4C4C4;
    line-height: 26px;
}
.price{
  position: relative;
  left: 200px;
  display: inline-block;
  color: black;
}

.screen6{
  position: absolute;
  width: 100%;
  height: 80vh;
  top: 465vh;
  overflow: hidden;
  z-index: 2;

  display: flex;
align-items: flex-end;
}
.last{
  top: 0;
}

.star4{
  width: 100%;
  height: 43.2vw;
  background-image: url('./img/staryellow.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  align-items: flex-end;
}
.skobki3 {  display: grid;
  height: 79vh;
  width: 92vw;
  position: absolute;
  left: 3.5vw;
  /* top: 0vh; */
  z-index: 5;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 35px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . . . . . . ."
    ". . . . . . . ."
    ". . ru2 . . . . ."
    "ru1 . ru2 . . . . ."
    "ru1 . . . . . . ru3";
}

.ru1 { grid-area: ru1; }
.up1{
grid-area: ru1;
position: relative;
top: 65px;
animation: miganie 3s linear 0s infinite;
}
.up2{
  grid-area: ru1;
  position: relative;
  top: 65px;
  animation: miganie 3s linear .2s infinite;
}

.ru2 { grid-area: ru2; }
.up3{
  grid-area: ru2;
  position: relative;
  top: 220px;
  animation: miganie 3s linear 1s infinite;
}
.up4{
  grid-area: ru2;
  position: relative;
  top: 130px;
  animation: miganie 3s linear 1.2s infinite;
}
.up5{
  grid-area: ru2;
  position: relative;
  top: 40px;
  animation: miganie 3s linear 1.4s infinite;
}
.ru3 { grid-area: ru3;
  background: url('./img/g5.svg');
  background-repeat: no-repeat;
  background-position: left 25%;}

  .up6{
    grid-area: ru3;
    position: relative;
    top: -90px;
    animation: miganie 3s linear .5s infinite;
  }
  .up7{
    grid-area: ru3;
    position: relative;
    top: -162px;
    animation: miganie 3s linear .7s infinite;
  }
  .screen7{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 545vh;
    overflow: hidden;
    z-index: 2;
    background-color: #FFD101;
  }
.go{
  background-image: url('./img/goline.svg');
  background-clip: border-box;
  background-repeat: repeat-x;
  top: 0vh;
  animation: go 10s linear infinite;
}
.skobki4 {  display: grid;
  height: 99vh;
  width: 92vw;
  position: absolute;
  left: 3.5vw;
  top: 0vh;
  z-index: 5;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 35px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . . . . . . ."
    "ro1 . . . . ro3 . ro4"
    "ro1 . . . . ro3 . ro4"
    "ro1 . . ro2 . ro3 . ro4"
    ". . . ro2 . . . .";
}

.ro1 { grid-area: ro1;
  background: url('./img/g3.svg');
  background-repeat: no-repeat;
  background-position: left 26%; }

.ro2 { grid-area: ro2;
  background: url('./img/gr1.svg');
  background-repeat: no-repeat;
  background-position: left 65%; }

.yp1{
  grid-area: ro2;
  transform: rotate(180deg);
  position: relative;
  top: 80px;
  animation: miganie 3s linear 1s infinite;
}
.yp2{
  grid-area: ro2;
  transform: rotate(180deg);
  position: relative;
  top: -35px;
  animation: miganie 3s linear 1.2s infinite;
}
.ro3 { grid-area: ro3;
  background: url('./img/g4.svg');
  background-repeat: no-repeat;
  background-position: left 25%;}

.ro4 { grid-area: ro4;
  background: url('./img/g5.svg');
  background-repeat: no-repeat;
  background-position: left 0%; }

  .yp3{
    grid-area: ro4;
    position: relative;
    top: 270px;
    animation: miganie 3s linear 1.6s infinite;
  }
  .yp4{
    grid-area: ro4;
    position: relative;
    top: 125px;
    animation: miganie 3s linear 1.4s infinite;
  }
  .yp5{
    grid-area: ro4;
    position: relative;
    top: 270px;
    animation: miganie 3s linear 1.8s infinite;
  }
  .footer{
    height: 30vh;
    width: 100%;
    background-color: black;
    position: absolute;
    top:645vh;
  }
  .hse{
    width:237px;
    height: 95px;
    position: relative;
    left: 3.5vw;
    top: 7.5vh;
  }
.cont{
  font-size: 24px;
  line-height: 33px;
  color: #FF6100;
}
.contacts{
  position: absolute;
  font-size: 24px;
  width:12em;
  left: 38vw;
  top: 6.5vh;
  display: inline-block;
}
.author{
  position: absolute;
  font-size: 24px;
  width:12em;
  left: 74.5vw;
  top: 6.5vh;
  display: inline-block;
}
