
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'IBM Plex Sans', sans-serif;
  background: white;
}
.main{
  background-color: #FF6100;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
a {
  text-decoration:none;
}
.topmenu{
  width: 100vw;
  height: 10vh;
  background: black;
  position: fixed;
  overflow: hidden;
  z-index: 15;
  top:0;
  display: flex;
  align-items: center;
}
 .home{
   width: 65px;
   height: 65px;
   position: relative;
   background-image: url('./img/home.svg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
   left: 3.5vw;
   /* top: 1.5vh; */
 }
.cross{
  width: 45px;
  height: 45px;
  position: relative;
  left: calc(100% - 160px);
  background-image: url('./img/cross.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.big{
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 100px;
  color: black;
}
.big:hover{
  background-color: black;
  color: #FF6100;
}
.links{
  font-size: 70px;
  width:7em;
  position: absolute;
  top: 25vh;
  left: calc(50% - 3.5em);
  text-align: center;
  vertical-align:middle;
  display:table;
}
