@media only screen and (min-width: 1924px){
  /* Desktop super big */
      body{background-color: #f6f5f3; margin: 0 300px;}
    .home{ height: 80px; width: 80px; } .sidemenu{ height:55px; width: 55px; left: calc(100% - 200px);}
  .iskraline, .infoline, .afishaline{height:200px;}
  .skobki1{ height:70vh; top:30vh;} .size{ background-size: 90%;} .size1{width:9vw;}
  .op12, .op4{top:-100px;} .op5{top:-80px;} .op8{top:210px;} .op9{ top:215px;} .op2,.op3{top:260px;}
 .ap4, .ap5{top: 340px;} .ap1{top: 255px;} .ap2, .ap3{ top:140px;}
 .up3, .up4, .up5{top: 180px;} .up7{ top: -180px;}
  .yp1{top:-40px;}
  .text,.normal,.button,.des,.card, .line1, .line2, .contacts, .cont, .author{font-size: 30px; line-height: 33px;}  .head{ font-size: 38px;} .cap{font-size:50px;}
  .s1{ width: 18em; top: -90px;} .s2{width: 19em;}  .rec, .rectangles, .image{height: 188px;} .image{ width:155px;} .rec{width: 24px;} .rectengles{width:148px;}
  .banner{width: 1000px; height: 558px;} .desc{ width: 380px;} .caption{width: 785px;} .hse{width: 300px; height:125px;}
}


@media only screen and (min-width: 1700px) and (max-device-width: 1924px) {
  /* Desktop big */
    .home{ height: 80px; width: 80px; } .sidemenu{ height:55px; width: 55px; left: calc(100% - 200px);}
  .iskraline, .infoline, .afishaline{height:200px;}
  .skobki1{ height:70vh; top:30vh;} .size{ background-size: 90%;} .size1{width:9vw;}
  .op12, .op4{top:-100px;} .op5{top:-80px;} .op8{top:210px;} .op9{ top:215px;} .op2,.op3{top:260px;}
 .ap4, .ap5{top: 340px;} .ap1{top: 255px;} .ap2, .ap3{ top:140px;}
 .up3, .up4, .up5{top: 180px;} .up7{ top: -180px;}
  .yp1{top:-40px;}
  .text,.normal,.button,.des,.card, .line1, .line2, .contacts, .cont, .author{font-size: 30px; line-height: 33px;}  .head{ font-size: 38px;} .cap{font-size:50px;}
  .s1{ width: 18em; top: -90px;} .s2{width: 19em;}  .rec, .rectangles, .image{height: 188px;} .image{ width:155px;} .rec{width: 24px;} .rectengles{width:148px;}
  .banner{width: 1000px; height: 558px;} .desc{ width: 380px;} .caption{width: 785px;} .hse{width: 300px; height:125px;}
}

@media only screen and (min-height: 700px) and (max-height: 850px)  {
  /* Desktop */
  .star1, .star2, .star3, .star4{ height: 38vw;}
  .skobki1 { top: 26vh; height: 74vh;}   .skobki2{ top: 8vh; height: 95vh;}
  .op12, .op4{top:-70px;} .op5{top:-65px;} .op8{top:150px;} .op9{ top:155px;}
  .ap4, .ap5{top: 250px;} .ap1{top: 195px;}
  .yp1{top:-40px;}
  .home{ height: 58px; width: 58px; }
  .s1{ top:-19vh;} .block{ top: -17vh;}
.screen5{ height: 115vh;} .slick-list{ height: 95vh;} .ticketgallery{ height: 95vh;}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* iPad */
  .iskraline, .infoline, .afishaline{height:140px;}
  .re5, .ra4{display: none;} .skobki2 {gap: 0px 0px;}
  .text,.normal,.button,.des,.card,.contacts, .cont, .author{font-size: 18px; line-height: 21px;}  .head{ font-size: 24px;} .cap{font-size:36px;}
  .s1{top:20vh;} .block{top:0vh;} .screen3{height: 80vh;} .screen4{ height: 70vh; top: 296vh;} .sliders{top:15vh;} .line1{animation-duration: 24s;} .line2{animation-duration: 27s; top:145px;} .card{width: 19em;} .big{width: ;}
  .description{top:4em;} .rec, .rectangles, .line1, .line2,.image{height: 145px;} .image{ width:121px;} .rec{width: 21px;} .rectengles{width:138px;}
  .banner{width: 640px; height: 358px;} .desc{ width: 229px;} .caption{width: 420px;} .slick-list{ height: 78vh;} .ticketgallery{ height: 78vh;}
  .screen6{ height:55vh;} .screen7{top:520vh;} .footer{top:620vh;} .hse{width: 205px; height:85px;}

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* iPad Portrait */
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* iPad Landscape */
}


@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
  /* iPhone Portrait */
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
  /* iPhone Landscape */
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
  /* iPhone Portrait */
